.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: purple;
    padding: 20px;
    width:100%;  
    
}

h4{
    color: green
}

#display{
    width:  100%;
}

#slider{
    width:  100%;
    
}

#length{
    display: inline-block;
    width:  100px;
    background-color: green;
    font:  purple;
}

.previous_passwords{
    margin-bottom:  20px;
    color: hotpink;
}

button{
    color: purple;
    background-color: green;
}


